@use "../common" as *;

.button {
  display: block;
  padding: 10px;
  background-color: $basic-green;
  border: none;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;

  @include font($secondary-font, 16px, 20px, $basic-white);

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled),
  &:active:not(:disabled) {
    background-color: $special-green;
  }

  &:active:not(:disabled) {
    color: rgba($basic-white, 0.3);
  }

  &:disabled {
    opacity: 0.4;
    cursor: default;
  }

  &--alternate {
    background-color: $basic-grey;
    color: $base-color-text;

    &:hover:not(:disabled),
    &:focus-visible:not(:disabled),
    &:active:not(:disabled) {
      background-color: $special-light-grey2;
    }

    &:active:not(:disabled) {
      color: rgba($base-color-text, 0.3);
    }

    &:disabled {
      opacity: 0.4;
      cursor: default;
    }
  }

  &--font-mobile-m {
    @include font-resize(20px, 26px);
  }

  &--font-tablet-m {
    @media (min-width: $tablet-width) {
      @include font-resize(20px, 26px);
    }
  }
}
