@use "../common" as *;

.button {
  display: block;
  padding: 10px;
  background-color: $basic-green;
  border: none;
  text-align: center;
  text-transform: uppercase;

  @include font($secondary-font, 16px, 20px, $basic-white);

  &--alternate {
    background-color: $basic-grey;
    color: $base-color-text;
  }

  &--padding-high {
    padding: 14px;
  }

  &--font-mobile-m {
    @include font-resize(20px, 26px);
  }

  &--font-tablet-m {
    @media (min-width: $tablet-width) {
      @include font-resize(20px, 26px);
    }
  }
}
