@use "../common" as *;

.contacts__title {
  @include font($secondary-font, 16px, 20px, $basic-black);
  font-weight: 400;
  text-transform: uppercase;
}

.contacts__address {
  line-height: 20px;
  font-style: normal;
}
