@use "../common" as *;

.gift {
  width: 280px;
  height: 290px;
  background-color: $basic-green;
  background-image: url("../../icons/stack.svg#icon-gift");
}

.gift__description {
  @include font($primary-font, 16px, 20px, $basic-white);
  text-align: center;
}
