@use "../common" as *;

.navigation {
  @include font($secondary-font, 20px, 20px, $base-color-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    @include font-resize(18px, 24px);
  }

  @media (min-width: $desktop-width) {
    color: $basic-white;

    @include font-resize(20px, 20px);
  }

  &--text-black {
    @media (min-width: $desktop-width) {
      color: $special-black;
    }
  }
}

.navigation__button {
  display: none;
  width: 24px;
  height: 24px;
  background-image: url("../../icons/stack.svg#icon-button-burger");
  background-color: $basic-white;
  border: none;
  cursor: pointer;
}

.navigation__list {
  @include list-style;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    gap: 10px 33px;
    width: 436px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 31px;
    width: 475px;
  }
}

.navigation__link {
  text-decoration: none;
  color: inherit;
}
