@use "../common" as *;

.navigation {
  @include font($secondary-font, 20px, 20px, $base-color-text);
  text-transform: uppercase;
}

.navigation__button {
  width: 24px;
  height: 24px;
  background-image: url("../../icons/stack.svg#icon-button-burger");
  background-color: $basic-white;
  border: none;
  cursor: pointer;
}

.navigation__list {
  @include list-style;
}

.navigation__link {
  text-decoration: none;
  color: $basic-black;
}
