@use "../common" as *;

.parameters__term {
  @include font($secondary-font, 24px, 24px, $basic-black);
  text-transform: uppercase;
}

.parameters__definition {
  font-size: 12px;
  line-height: 12px;
}
