@use "../common" as *;

.programs {
}

.programs__list {
  @include list-style;
}

.programs__title {
  @include font($secondary-font, 24px, 37px, $basic-black);
  font-weight: normal;
  text-transform: uppercase;
}

.programs__item {
  background-color: $basic-grey;
}

.programs__link {
  @include font($secondary-font, 16px, 16px, $basic-black);
  text-transform: uppercase;
  text-decoration: none;
}
