@use "../common" as *;

.slider__button {
  width: 40px;
  height: 40px;
  background-image: url("../../icons/stack.svg#icon-arrow-inner");
  background-color: $basic-white;
  border: 2px solid $special-grey;
  border-radius: 50%;
}