@use "../common" as *;

.social-list {
  @include list-style;
  border-top: 2px solid $special-light-grey6;
  border-bottom: 2px solid $special-light-grey6;
}

.social-list__link {
  display: block;
  width: 28px;
  height: 22px;

  &--vk {
    background-image: url("../../icons/stack.svg#icon-vk");
  }

  &--youtube {
    background-image: url("../../icons/stack.svg#icon-youtube");
  }

  &--telegram {
    background-image: url("../../icons/stack.svg#icon-telegram");
  }
}
